.Search-area input{
    width: 420px;
    outline: none;
    border: none;
}

.Search-area svg{
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.Box-data{
    width: 250px;
}

.Box-data img{
    width: 250px;
    height: 320px;
    object-fit: cover;
    border-radius: 10px;
}

.Box-data .title{
    height: 52px;
    overflow: hidden;
    color: #f5c518;
}

.Box-data .rating{
    color: #ffea00;
}